
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    min-height: 100vh;
    display: grid;
    place-items: center;
}


.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #00B9D3;
    box-shadow:
        inset 0 10px 100px -60px #00e1ff,
        inset -10px 0 100px -60px #ff00ff,
        inset 0 -10px 100px -60px #ff00ff,
        inset 10px 0 100px -60px #00e1ff;
}

.sections {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #111;
    padding: 20px;
    border-right: 4px solid #FFA9FF;
}

.sections a {
    color: #fff;
    font-size: 20px;
    transition: transform 0.4s ease;
}

.sections a:hover {
    transform: scale(1.5) rotate(25deg);
}


main {
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.section {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #FFA9FF;
    background-color: #222;
    transition: transform 0.3s ease;
}

.section:hover {
    transform: scale(1.05);
}

.section h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #00e1ff;
}

.section p {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
}

.section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.section ul a {
    font-size: 25px;
    color: #fff;
    transition: transform 0.3s ease;
}

.section ul a:hover {
    transform: scale(1.5);
}